<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.domain.file.FileMapper">

    <!-- tb_file 테이블 전체 컬럼 -->
    <sql id="fileColumns">
          id
        , post_id
        , original_name
        , save_name
        , tb_size
        , delete_yn
        , created_date
        , deleted_date
    </sql>


    <!-- 파일 정보 저장 -->
    <insert id="saveAll" parameterType="list">
        INSERT ALL                  
        <foreach item="file" collection="list">
        INTO TB_FILE( 
          <include refid="fileColumns" />
          )
          VALUES
        (
<!--              #{file.id}-->
				tb_file_seq.nextval
            , #{file.postId}
            , #{file.originalName}
            , #{file.saveName}
            , #{file.tbSize}
            , 0
            , sysdate
            , NULL
            )
        </foreach>
        SELECT * FROM DUAL
    </insert>
    <!-- 파일 리스트 조회 -->
    <select id="findAllByPostId" parameterType="long" resultType="com.study.domain.file.FileResponse">
        SELECT
            <include refid="fileColumns" />
        FROM
            tb_file
        WHERE
            delete_yn = 0
            AND post_id = #{value}
        ORDER BY
            id
    </select>


    <!-- 파일 리스트 조회 -->
    <select id="findAllByIds" parameterType="list" resultType="com.study.domain.file.FileResponse">
        SELECT
            <include refid="fileColumns" />
        FROM
            tb_file
        WHERE
            delete_yn = 0
            AND id IN
            <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
            </foreach>
        ORDER BY
            id
    </select>


    <!-- 파일 삭제 -->
    <delete id="deleteAllByIds" parameterType="list">
        UPDATE tb_file
        SET
              delete_yn = 1
            , deleted_date = sysdate
        WHERE
            id IN
            <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
            </foreach>
    </delete>
</mapper>